.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    background-color: #ffffff;
    border-bottom: 1px solid #ccc;
    .logo {
        font-size: 16px;
        font-weight: bold;
    }
    .menu {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .menu a {
        text-decoration: none;
        color: #333;
        font-weight: 500;
    }
    .menu a:hover {
        color: #000;
    }
    .menu a:active {
        font-weight: 700;
    }
    .menu button {
        background-color: #000;
        padding: 10px 20px;
        outline: none;
        border: 1px solid;
        border-radius: 5px;
        font-size: 15px;
    }
    .menu .menu-btns {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .menu button a {
        text-decoration: none;
        color: #fff;
    }
    .menu div img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
}